<!--The content below is only a placeholder and can be replaced.>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}! <br>
    {{obj.name}}
  </h1>
</div>

<button mat-button>Here</button>

<ul>
<li *ngFor = "let i of arr">{{i}}</li>
</ul>
<p *ngIf = "isTrue; then trueTemp else falseTemp" >Hello</p>
<p *ngIf = "myName == 'CvS'" >True</p>

<ng-template #trueTemp>This is true condition</ng-template>
<ng-template #falseTemp>This is false condition</ng-template>
<a routerLink="/login">Login</a>
<a routerLink="/menu">Menu</a>
<a routerLink="/product">Product</a>
<br>
<router-outlet></router-outlet>
-->

<!--
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>MyMaterial</span>
  
      <span class="example-spacer"></span>
      
      <button mat-button>Servicios</button>
      <button mat-button>Ayuda</button>
      <button mat-button>Contacto</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
<a routerLink="/menu">Menu</a>
<a routerLink="/login">Login</a>
<br>
<router-outlet></router-outlet>
-->

<mat-sidenav-container class="all-wrap" fullscreen>
    <mat-sidenav #sidenav>
      <mat-list>
        <mat-list-item [routerLink]="['/home']"><mat-icon>home</mat-icon>Home</mat-list-item>
        <mat-list-item *ngIf="!authService.currentUser" [routerLink]="['/login']">Login</mat-list-item>
        <mat-list-item *ngIf="authService.currentUser" [routerLink]="['/menu']">Menu</mat-list-item>
        <mat-list-item *ngIf="authService.currentUser" [routerLink]="['/signout']">Salir</mat-list-item>
      </mat-list>
    </mat-sidenav>
   
    <div class="page-wrap">
        <header role="banner">
          <mat-toolbar color="primary">
              <mat-toolbar-row>
            <span>IQ App</span>
            <button type="button" mat-icon-button (click)="sidenav.open()" title="Open sidenav">
              <mat-icon>menu</mat-icon>
            </button>
            <span class="example-spacer"></span>
            <button mat-button>Ayuda</button>
            <button mat-button>Contacto</button>

            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/login']">
                  <mat-icon>account_circle</mat-icon>
                  <span>Login</span>
                </button>
                <button mat-menu-item disabled>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Alertas Off</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>settings</mat-icon>
                  <span>Configuracion</span>
                </button>
              </mat-menu>

          </mat-toolbar-row>
          </mat-toolbar>
        </header>
        <main class="content">
          <router-outlet></router-outlet>
        </main>
        <footer>
          Your sticky footer with a variable height.
        </footer>
      </div>
  </mat-sidenav-container>

  <!-- <mat-card>
    <mat-form-field>
      <input matInput [(ngModel)]="userid" placeholder="Ingrese su email o ID">
    </mat-form-field>
  
    <br>
    
    <button mat-raised-button (click)="showAnswer()">Ingresar</button>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card>
  
  
  <mat-card *ngIf="answerDisplay">
    <h1>Bienvenido {{ answerDisplay }}. Pronto nos contactaremos contigo...</h1>
  </mat-card> -->
